.base {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 8vh;
  position: fixed;
  z-index: 9;
  top: 0;
  background-color: #D9D9D9;
  box-shadow: #f5f5f5 0 0 8px 0;
  color: white;
}

.options {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 14vw;
  min-width: 181px;
  text-decoration: none;
  height: 100vh;
  background-color: #142D4A;
  overflow: hidden;
}

.icon-menu {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 8vh;
  margin-left: 40px;
  cursor: pointer;
}

a, button {
  text-decoration: none;
  color: white;
}

#last-button {
  margin-top: auto;
  margin-bottom: 1px;
}

.user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 2vw;
  height: 100%;

}

.user-icon {
  cursor: pointer;
  font-size: 35px !important;
  width: 35px;
  height: 35px;
}
