<div class="quiz-details-container">
  <div class="coin-counter">
    <span class="coin">200</span>
  </div>
  <h1>Desafio Quiz</h1>
  <div class="quiz-content">
    <div class="question-section">
      <h2>O que é uma ação?</h2>
      <div class="answer" [class.correct]="true">
        <span class="checkmark">✔</span> Uma ação representa uma fração do capital social de uma empresa, conferindo a seu titular participação nos lucros e nos riscos do negócio
      </div>
      <div class="answer" [class.wrong]="true">
        <span class="letter">B</span> Uma ação é um título de renda fixa que paga juros ao longo do tempo
      </div>
      <div class="answer">
        <span class="letter">C</span> Uma ação é um título de dívida emitido por empresas para financiar suas operações
      </div>
    </div>
    <div class="content-section">
      <h3>Veja este conteúdo para entender melhor sobre o assunto</h3>
      <app-card [contentData]="contents"></app-card>

<!--      <img src="assets/investimento.png" alt="O que é a taxa selic?" class="content-image">-->
<!--      <p>O que é a taxa selic?</p>-->
    </div>
  </div>
  <button class="continue-button" (click)="redirectTo()">Voltar</button>
</div>
