<div id="home-base">
  <div class="home-content">
    <div class="welcome">
      <span class="initial-text">Chegou o momento de desafiar seu conhecimento!</span>
      <span class="recommend">Que tal realizar um quiz sobre conteúdos vistos anteriormente?</span>
    </div>
    <div class="container">
      <div class="container-cards">
        <div class="base-card">
          <img class="image" src="../../../assets/quiz1.png" alt="img-text">
          <p class="text">Quiz 1</p>
          <p class="text">Quantidade de questões: 5</p>
          <p class="text">Tempo de duração: 5 minutos</p>
        </div>
        <div class="base-card">
          <img class="image" src="../../../assets/quiz2.png" alt="img-text">
          <p class="text">Quiz 2</p>
          <p class="text">Quantidade de questões: 6</p>
          <p class="text">Tempo de duração: 7 minutos</p>
        </div>
        <div class="base-card">
          <img class="image" src="../../../assets/quiz3.png" alt="img-text">
          <p class="text">Quiz 3</p>
          <p class="text">Quantidade de questões: 5</p>
          <p class="text">Tempo de duração: 5 minutos</p>
        </div>
      </div>
    </div>
  </div>
</div>
