.sidebar-base {
  display: flex;
  position: fixed;
  width: 4vw;
  height: 100vh;
  background-color: #142D4A;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 56px;
}

.sidebar-base:hover {
  width: 13vw;
  transition: width 0.5s;
  max-width: none;
}

span {
  color: white;
  font-size: 1em;
  margin-top: 10px;
}

mat-icon {
  color: white !important;
}

#last-button {
  margin-top: auto;
  margin-bottom: 1px;
}

#first-button {
  margin-top: 7vh;
}
