<div class="sidebar-base">
  <button id="first-button" mat-menu-item (click)="redirectTo('home')">
    <mat-icon>home</mat-icon>
    <span>Início</span>
  </button>
  <button mat-menu-item (click)="redirectTo('contact')">
    <mat-icon>bar_chart</mat-icon>
    <span>Seu progresso</span>
  </button>
  <button mat-menu-item (click)="redirectTo('register')">
    <mat-icon>insert_chart</mat-icon>
    <span>Relatórios</span>
  </button>
  <button mat-menu-item (click)="redirectTo('quiz')">
    <mat-icon>list_alt</mat-icon>
    <span>Quiz</span>
  </button>
  <button id="last-button" mat-menu-item (click)="redirectTo('login')">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sair</span>
  </button>

</div>
