<div id="main-container">
  <div class="container-login">
    <div [class.register-focus]="classEffect" class="register">
      <div [class.displays]="classEffect" class="text-container">
        <span class="welcome">Bem-vindo de volta!</span>
        <span>Realize seu login</span>
        <button class="enter" (click)="animateClass()">ENTRAR</button>
      </div>
      <div [class.displays-login]="!classEffect" class="access" >
        <span class="welcome">Acesse sua conta!</span>
        <form [formGroup]="formLogin" class="login-form">
        <mat-form-field class="input-text">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. eee@exemplo.com">
            <mat-error *ngIf="formLogin.get('email')?.hasError('email') && !formLogin.get('email')?.hasError('required')">
              Por favor, informe um email válido.
            </mat-error>
            <mat-error *ngIf="formLogin.get('email')?.hasError('required')">
              <strong>Necessário</strong> informar seu email.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input-text">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Ex. A123456!">
          <mat-error *ngIf="formLogin.get('password')?.hasError('required')">
            <strong>Necessário</strong> informar sua senha.
          </mat-error>
        </mat-form-field>
        </form>
        <button type="button" class="enter" (click)="validateLogin()">LOGIN</button>
      </div>
    </div>
    <div class="create-account">
      <span class="text-create">Crie sua conta</span>
      <span class="data">Preencha seus dados</span>
      <form [formGroup]="formNewAccount" class="register-form">
        <mat-form-field class="input-text">
          <mat-label>Nome</mat-label>
          <input type="text" matInput formControlName="name" placeholder="Ex. João Silva">
          <mat-error *ngIf="formNewAccount.get('name')?.hasError('required')">
            <strong>Necessário</strong> informar seu nome.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-text">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. eee@exemplo.com">
          <mat-error *ngIf="formNewAccount.get('email')?.hasError('email') && !formNewAccount.get('email')?.hasError('required')">
            Por favor, informe um email válido.
          </mat-error>
          <mat-error *ngIf="formNewAccount.get('email')?.hasError('required')">
            <strong>Necessário</strong> informar seu email.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-text">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Ex. A123456!">
          <mat-error *ngIf="formNewAccount.get('password')?.hasError('required')">
            <strong>Necessário</strong> informar sua senha.
          </mat-error>
        </mat-form-field>
      </form>
      <button type="button" class="btn-create" (click)="validateNewUser()">CADASTRAR</button>
    </div>
  </div>
</div>
<app-modal [isOpen]="isOpenModal" (isOpenChange)="closeModal()">
  <h2>Login</h2>
  <p>{{ textModal }}</p>
</app-modal>
