<div class="quiz-result-container">
  <div class="coin-counter">
    <span class="coin">{{ score }}</span>
  </div>
  <h1>Desafio Quiz</h1>
  <div class="result-image">
    <img src="assets/finalization.png" alt="Checkmark" width="200" height="200">
  </div>
  <p>Você acertou {{totalScore}} de 5 questões do questionário! Parabéns!</p>
  <button class="view-mistakes-button" (click)="redirectTo()">
   <span *ngIf="totalScore !== 5"> Ver o que errei</span>
    <span *ngIf="totalScore === 5"> Voltar</span>
  </button>
</div>
