<div class="main-container">
  <div class="header">
    <h1>Bem vindo!</h1>
    <h2>Lista de conteúdos disponíveis</h2>
  </div>
  <div class="content-grid">
    <div class="content-item" (click)="goToQuiz()">
      <img src="/assets/quiz/br%201.png" alt="">
      <div class="text-content-item">
        <span>Quais os principais tipos de investimentos no Brasil?</span>
      </div>
    </div>
    <div class="content-item" (click)="goToQuiz()">
      <img src="/assets/quiz/fundos-investimentos%201.png" alt="">
      <div class="text-content-item">
        <span>Qual a diferença de uma ação e uma cota?</span>
      </div>
    </div>
    <div class="content-item" (click)="goToQuiz()">
      <img src="/assets/quiz/inflacao-aaaaa%201.png" alt="">
      <div class="text-content-item">
        <span>Como a inflação afeta seu dinheiro não investido?</span>
      </div>
    </div>
    <div class="content-item" (click)="goToQuiz()">
      <img src="/assets/quiz/fundos-de-investimentos-como-escolher%201.png" alt="">
      <div class="text-content-item">
        <span>Como começar a investir?</span>
      </div>
    </div>
    <div class="content-item" (click)="goToQuiz()">
      <img src="/assets/quiz/o-que-sao-acoes-3%201.png" alt="">
      <div class="text-content-item">
        <span>Quanto dinheiro preciso para começar?</span>
      </div>
    </div>
    <div class="content-item" (click)="goToQuiz()">
      <img src="/assets/quiz/dividendos%201.png" alt="">
      <div class="text-content-item">
        <span>O que são dividendos?</span>
      </div>
    </div>
  </div>
</div>
