<div id="topic-base">
  <div class="container" *ngIf="topicDetail">
    <p class="title">{{ topicDetail.titulo }}</p>
    <pre class="data">{{ topicDetail.dados }}</pre>
  </div>
  <div class="footer">
    <div class="source">
      <p>Entenda de onde coletamos estes dados.</p>
      <a href="{{ topicDetail?.fontes }}" target="_blank">Clique aqui.</a>
    </div>
    <div class="btns">
    <button class="btn-list" (click)="goBack()">Voltar</button>
    <button class="btn-list" (click)="nextTopic()">Próximo</button>
    </div>
  </div>
</div>
